/* Global Styles */
.light-headers {
	color: #fff !important;
}

.white-text {
	color: #fff;
}

.btn-xo {
	background-color: #3273b5 !important;
	color: #fff !important;
}

.form-control {
	display: block;
	width: 100%;
	padding: 0.375rem 0.75rem;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #fff;
	background-color: #161616 !important;
	border: 1px solid #161616 !important;
	appearance: none;
	border-radius: 0.375rem;
}

/* Data table */

.data-table-xo {
	width: 100% !important;
}

.kntihR {
	background-color: #161616 !important;
	color: #fff !important;
}

.hCBnvI,
.fhCFWO,
.bhoXfZ {
	color: #fff !important;
	background-color: #161616 !important;
}

.gPLhoV:disabled {
	cursor: unset;
	color: #fff !important;
	fill: #fff !important;
}

.fhCFWO:not(:last-of-type),
.hCBnvI {
	border-bottom-color: rgba(126, 126, 126, 0.12) !important;
}

.gPLhoV:enabled {
	cursor: unset;
	color: #fff !important;
	fill: #fff !important;
}

.cDMHPx {
	color: #fff !important;
}

.bPokRt {
	display: flex;
	align-items: stretch;
	align-content: stretch;
	width: 100%;
	box-sizing: border-box;
	font-size: 13px;
	font-weight: 400;
	color: rgba(0, 0, 0, 0.87);
	background-color: #161616 !important;
	min-height: 48px;
}

.hecapG {
	color: #fff !important;
}

.buGObk {
	display: flex;
	align-items: stretch;
	width: 100%;
	background-color: #161616 !important;
	min-height: 52px;
	border-bottom-width: 1px;
	border-bottom-color: rgba(0, 0, 0, 0.12);
	border-bottom-style: solid;
}

.bPokRt:not(:last-of-type) {
	border-bottom-color: #494949 !important;
}

.isdzTY {
	background-color: #161616 !important;
}

.beICJd {
	color: #fff;
}

.ggomLY {
	color: #fff !important;
}

.dahnUA div:first-child {
	color: #fff !important;
}

.kMfkEy {
	color: #fff !important;
}

.ippUbX {
	color: #fff !important;
}

.jfFaHg svg {
	color: #fff !important;
}

.jeKBgP {
	color: #fff !important;
}

.hwVeUK:disabled {
	color: #fff !important;
	fill: #fff !important;
}

.jowprf {
	color: #fff !important;
}

.fdQPzu {
	color: #fff !important;
}

.hwVeUK {
	color: #fff !important;
	fill: #fff !important;
}

/* Edit Event */
.edit-event-image {
	width: 200px;
	height: auto;
	object-fit: cover;
	aspect-ratio: 16/9;
	border-radius: 10px;
}

/* Edit Event Expense */
.event-input {
	padding: 8px !important;
	border: 2px solid #e6edef !important;
	font-size: 14px !important;
	font-weight: 400 !important;
}

#modal-event-btn {
	font-size: 12px;
	width: 20%;
	font-weight: 600;
	padding: 7px;
}

#event-table {
	width: 75%;
	margin: auto !important;
	text-align: left !important;
}

.event-container {
	margin: 20px !important;
}

.event-items {
	font-size: 14px;
	color: #fff !important;
	font-size: 14px;
}

#event-form {
	padding: 0 !important;
}

#event-form-group {
	padding: 0 !important;
}

.candidate-icons {
	margin: auto 5px auto 5px !important;
	color: var(--theme-default) !important;
	transition: 0.3s;
	cursor: pointer;
}

.event-input {
	padding: 8px !important;
	border: 2px solid #e6edef !important;
	font-size: 14px !important;
	font-weight: 400 !important;
}

#modal-event-btn {
	font-size: 12px;
	width: 20%;
	font-weight: 600;
	padding: 7px;
}

#event-table {
	width: 75%;
	margin: auto !important;
	text-align: left !important;
}

.event-container {
	margin: 20px !important;
}

#event-form {
	padding: 0 !important;
}

#event-form-group {
	padding: 0 !important;
}

.candidate-icons {
	margin: auto 5px auto 5px !important;
	color: var(--theme-default) !important;
	transition: 0.3s;
	cursor: pointer;
}

#event-actions {
	display: inline-flex;
	width: fit-content;
	align-items: center;
	justify-content: center;
}

/* Edit Vehicle */
.event-input {
	padding: 8px !important;
	border: 2px solid #e6edef !important;
	font-size: 14px !important;
	font-weight: 400 !important;
}

.image-container {
	position: relative;
	padding: 0 !important;
}

.gradient-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(
		to bottom,
		rgba(0, 140, 255, 0),
		rgba(50, 49, 49, 1) 90%
	);
	pointer-events: none;
}

.edit-vehicle-image {
	width: 100% !important;
	padding: 0 !important;
	border-radius: 7px;
	height: 400px;
	object-fit: cover !important;
}

.text-overlay {
	position: absolute;
	bottom: 30px;
	left: 10px;
	color: white;
	font-size: 16px;
	font-weight: bold;
	pointer-events: none;
}

#modal-event-btn {
	font-size: 12px;
	width: 20%;
	font-weight: 600;
	padding: 7px;
}

#event-table {
	width: 75%;
	margin: auto !important;
	text-align: left !important;
}

.event-container {
	margin: 20px !important;
}

#event-form {
	padding: 0 !important;
}

#event-form-group {
	padding: 0 !important;
}

.candidate-icons {
	margin: auto 5px auto 5px !important;
	color: var(--theme-default) !important;
	transition: 0.3s;
	cursor: pointer;
}

.event-input {
	padding: 8px !important;
	border: 2px solid #e6edef !important;
	font-size: 14px !important;
	font-weight: 400 !important;
}

#modal-event-btn {
	font-size: 12px;
	width: 20%;
	font-weight: 600;
	padding: 7px;
}

#event-table {
	width: 75%;
	margin: auto !important;
	text-align: left !important;
}

.event-container {
	margin: 20px !important;
}

#event-form {
	padding: 0 !important;
}

#event-form-group {
	padding: 0 !important;
}

.candidate-icons {
	margin: auto 5px auto 5px !important;
	color: var(--theme-default) !important;
	transition: 0.3s;
	cursor: pointer;
}

/* Event Expense */
.event-input {
	padding: 8px !important;
	border: 2px solid #e6edef !important;
	font-size: 14px !important;
	font-weight: 400 !important;
}

#event-btn {
	font-size: 12px;
	width: 130px !important;
	padding: 7px;
}

#modal-event-btn {
	font-size: 12px;
	width: 20%;
	padding: 7px;
}

#event-table {
	width: 75%;
	margin: auto !important;
	text-align: left !important;
}

.event-container {
	margin: 20px !important;
}

#event-form {
	padding: 0 !important;
}

#event-form-group {
	padding: 0 !important;
}

.candidate-icons {
	margin: auto 5px auto 5px !important;
	color: var(--theme-default) !important;
	transition: 0.3s;
	cursor: pointer;
}

.event-input {
	padding: 8px !important;
	border: 2px solid #e6edef !important;
	font-size: 14px !important;
	font-weight: 400 !important;
}

#event-btn {
	font-size: 12px;
	width: 8%;
	padding: 7px;
	margin: auto 5px;
}

#modal-event-btn {
	font-size: 12px;
	width: 20%;
	font-weight: 600;
	padding: 7px;
}

#event-table {
	width: 75%;
	margin: auto !important;
	text-align: left !important;
}

.event-container {
	margin: 20px !important;
}

#event-form {
	padding: 0 !important;
}

#event-form-group {
	padding: 0 !important;
}

.candidate-icons {
	margin: auto 5px auto 5px !important;
	color: var(--theme-default) !important;
	transition: 0.3s;
	cursor: pointer;
}

#event-btns {
	margin: auto 5px auto 5px;
}

.btn-container {
	display: inline-flex;
	padding: 0 !important;
}

/* Events */
.dark-event-input {
	padding: 8px !important;
	border: 2px solid #161616 !important;
	background-color: #161616 !important; /* Ensure the background color is explicitly set */
	color: #fff !important;
	font-size: 14px !important;
	font-weight: 400 !important;
	outline: none; /* Remove the default focus outline */
}

#login-dark-event-input {
	padding: 8px !important;
	border: 2px solid #161616 !important;
	background-color: #161616 !important; /* Ensure the background color is explicitly set */
	color: #fff !important;
	font-size: 14px !important;
	font-weight: 400 !important;
	outline: none; /* Remove the default focus outline */
}

#event-label {
	color: #fff !important;
	font-size: 13px !important;
	letter-spacing: 0.2px !important;
	font-weight: 500 !important;
}

#event-image-input {
	border: 2px solid #161616 !important;
	background-color: #161616 !important;
}

#modal-event-btn {
	font-size: 12px;
	width: 20%;
	font-weight: 600;
	padding: 7px;
}

#event-table {
	width: 75%;
	margin: auto !important;
	text-align: left !important;
}

.event-container {
	margin: 20px !important;
}

#event-form {
	padding: 0 !important;
}

#event-form-group {
	padding: 0 !important;
}

.candidate-icons {
	margin: auto 5px auto 5px !important;
	color: var(--theme-default) !important;
	transition: 0.3s;
	cursor: pointer;
}

.event-input {
	padding: 8px !important;
	border: 2px solid #e6edef !important;
	font-size: 14px !important;
	font-weight: 400 !important;
}

#event-btn {
	font-size: 12px;
	width: 8%;
	padding: 7px;
	background-color: #3273b5;
	border-color: #3273b5;
}

#modal-event-btn {
	font-size: 12px;
	width: 20%;
	padding: 7px;
}

#event-table {
	width: 75%;
	margin: auto !important;
	text-align: left !important;
}

.event-container {
	margin: 20px !important;
}

#event-form {
	padding: 0 !important;
}

#event-form-group {
	padding: 0 !important;
}

.candidate-icons {
	margin: auto 5px auto 5px !important;
	color: var(--theme-default) !important;
	transition: 0.3s;
	cursor: pointer;
}

/* Hero Section */
.hero {
	z-index: 0;
}

.header-white {
	color: #fff;
}

/* Modal */
#event-modal-header {
	font-size: 70px;
	font-weight: 600;
	border-bottom: var(--bs-modal-header-border-width) solid
		var(--bs-modal-header-border-color);
}

.modal-header {
	width: 100%;
}

.modal-title {
	font-weight: 600;
	font-size: 20px;
}

/* Navbar */
.navbar {
	background-color: #0a0a0a;
	height: 80px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	z-index: 999 !important;
	position: sticky !important;
	top: 0;
}

.logged-in-as {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 80px;
}

.menu-bars {
	margin-left: 2rem;
	font-size: 2rem;
	background: none;
	color: #000;
}

.nav-menu {
	background-color: #0a0a0a;
	width: 250px;
	height: 100vh;
	position: fixed;
	top: 0;
	left: -250px;
	transition: left 0.3s ease-in-out;
}

.nav-menu.active {
	left: 0;
	z-index: 999 !important;
}

.nav-text {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: 8px 0px 8px 16px;
	list-style: none;
	height: 55px;
}

.nav-text a {
	text-decoration: none;
	color: #fff;
	font-size: 15px;
	width: 95%;
	height: 100%;
	display: flex;
	align-items: center;
	padding: 0 16px;
	border-radius: 4px;
	font-weight: 100;
}

.nav-text a:hover {
	background-color: #3273b5;
	color: #fff;
}

.nav-menu-items {
	width: 100%;
	padding-left: 0;
}

.navbar-toggle {
	background-color: #0a0a0a;
	width: 100%;
	height: 80px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.logo-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.xtreme-octane-logo {
	width: 230px;
	margin: auto;
}

.nav-hr {
	color: #bbbbbb;
	background-color: #bbbbbb;
	height: 1px;
	border: none;
	margin: 0;
}

.nav-text.active a {
	background-color: #3273b5;
	color: #fff;
}

/* Vehicles */
#vehicle-model {
	text-decoration: none;
	color: #444444;
}

.vehicle-image {
	object-fit: cover;
	width: 300px !important;
	height: 200px;
	border-radius: 20px !important;
}

/* View Events */
.event-card-item {
	width: 20rem;
	margin: 0.5rem;
	padding: 5px;
}

#event-card-body {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.event-image {
	border-radius: 7px;
	height: 200px;
	object-fit: cover;
}

.event-image-vote {
	border-radius: 7px;
	height: 300px;
	width: 400px;
	object-fit: cover;
	margin: auto;
}

#event-btn-card {
	background-color: #3274b6;
	border-color: #3274b6;
	font-weight: 500;
	font-size: 12px;
	margin: auto 5px auto 5px;
	width: 100% !important;
}

.event-header {
	font-weight: 600;
	color: #fff;
}

.event-btn-container {
	display: flex;
	justify-content: center;
	margin: auto;
	width: 100%;
}

.event-centre {
	text-align: center !important;
}

#event-card-container {
	background-color: #161616;
}

/* View Event Votes */
.chart-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 300px;
}

/* View Vehicles */
.vehicle-card-item {
	text-align: center;
	width: 25% !important;
}

.card-vehicle {
	text-align: center;
}

.card-container {
	justify-content: center !important;
	text-align: center !important;
}

/* Event Vote */
.vote-btns {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 30px auto auto auto;
	width: 400px;
}

.inner-btn {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
}

.checkmark-container {
	position: absolute;
	top: -25px;
}

.inner-inner-btn {
	padding-bottom: 5px;
}

#vote-check {
	color: #007900;
}
