# Ignore node_modules directory
/node_modules

# Ignore .pnp and .pnp.js files
/.pnp
.pnp.js

# Ignore Visual Studio index files
*.vsidx

# Ignore Visual Studio user-specific files
*.suo

# Ignore binary files
*.bin
*.dll
*.pbd

# Ignore cache files
*.cache

# Ignore obj directory
/obj/

# Ignore build directory
/build

# Ignore coverage directory
/coverage

# Ignore .DS_Store files (macOS specific)
.DS_Store

# Ignore local environment files
.env.local
.env.development.local
.env.test.local
.env.production.local

# Ignore npm and yarn debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore Visual Studio project metadata
XtremeOctaneApi/.vs/ProjectEvaluation/xtremeoctaneapi.metadata.v7.bin
XtremeOctaneApi/.vs/ProjectEvaluation/projects.v7.bin
XtremeOctaneApi/.vs/XtremeOctaneApi/v17/.futdcache.v2
XtremeOctaneApi/bin/Debug/net7.0/XtremeOctaneApi.pdb
XtremeOctaneApi/obj/project.assets.json
XtremeOctaneApi/obj/XtremeOctaneApi.csproj.nuget.dgspec.json
XtremeOctaneApi/obj/XtremeOctaneApi.csproj.nuget.g.props
XtremeOctaneApi/obj/Debug/net7.0/apphost.exe
XtremeOctaneApi/obj/Debug/net7.0/XtremeOctaneApi.assets.cache
XtremeOctaneApi/obj/Debug/net7.0/XtremeOctaneApi.dll
XtremeOctaneApi/obj/Debug/net7.0/XtremeOctaneApi.pdb
XtremeOctaneApi/obj/Debug/net7.0/XtremeOctaneApi.GeneratedMSBuildEditorConfig.editorconfig
XtremeOctaneApi/obj/Debug/net7.0/XtremeOctaneApi.dll
XtremeOctaneApi/.vs/XtremeOctaneApi/DesignTimeBuild/.dtbcache.v2
XtremeOctaneApi/obj/Debug/net7.0/XtremeOctaneApi.assets.cache
xtreme-octane/.idea
XtremeOctaneApi/.vs/ProjectEvaluation
XtremeOctaneApi/.vs/XtremeOctaneApi/v17
XtremeOctaneApi/.idea
XtremeOctaneApi/obj/Debug/net7.0
XtremeOctaneApi/obj
