@tailwind base;
@tailwind components;
@tailwind utilities;
@import '@angular/material/prebuilt-themes/indigo-pink.css';

body {
  background-color: white;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}
